body {
  margin: 40px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rowTask {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin: 1px;
  padding: 8px;
}

.text-center {
  text-align: center;
}

.task-item {
  width: 80%;
  border: 1px solid rgb(207, 207, 212);
  list-style: none;
  padding: 5px;
}

.inputTasks {
  width: 400px;
  border: 1px solid black;
  padding: 8px;
}

input {
  border: none;
  width: 100%;
}

ul {
  padding: 0;
  margin-bottom: 0;
}

ul li {
  list-style: none;
  padding: 5px;
}

.countTask {
  margin-right: 100%;
  width: 100%;
}
